/* XL Device 1200px. */

@media only screen and (min-width: 1201px) and (max-width: 1500px) {}


/* LG Device: 992px. */

@media only screen and (min-width: 992px) and (max-width: 1200px) {}


/* MD Device: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {}


/* Mobile device */
@media (min-width: 768px){
    .mobile-header-menu-section{
        display: none;
    }
}

/* Mobile devies max width */
@media (max-width: 767px) {
    .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
        padding-right: 8px !important;
        padding-left: 8px !important;
    }
    .mobileHide {
        display: none;
    }

    /* Start front page */
    .mobile-header-menu-section {
        background: var(--brandColor);
        border-bottom: var(--brandColorDark);
    }
    .front-title h3 {
        font-size: 13px;
        padding: 7px 10px;
    }
    .main-express {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 4px;
        width: 100%;
        overflow: hidden;
    }
    .category-products-item img {
        width: 60px;
        padding: 8px;
    }
    .category-products-item p {
        font-size: 9px;
        padding: 10px;
        padding-bottom: 10px;
    }
    .main-bdbaba-mall {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 10px;
    }
    .bdbabamall-image img {
        height: 145px;
    }
    .bdbabamall-image {
        height: 135px;
    }
    .bdbabaCompany img {
        height: 40px;
        width: 40px;
    }
    .bdbabaCompany {
        top: -30px;
    }
    .main-best-selling-products {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;
    }
    /* .bdbabamall-box:last-child{
        display: none;
    } */
    .main-tabs {
        background: white;
        height: 100%;
        padding: 5px;
            padding-bottom: 5px;
        display: block ruby;
        overflow: hidden;
        overflow-x: scroll;
        width: 100%;
        padding-bottom: 13px;
    }
    .TabLink {
        padding: 3px 8px;
        font-size: 13px;
    }
    .main-fruits {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;
    }
    .cat-right-product-box img {
        width: 100%;
        height: 158px;
        object-fit: cover;
    }
    .price-and-addto-cart .AddtoCart {
        font-size: 9px;
    }
    .price-and-addto-cart .cat-product-price{
        padding: 5px;
        font-size: 10px;
    }
    .product-thumb {
        height: 156px;
    } 
    .StyleOnetitle h2{
        font-size: 15px;
    }
    .StyleOnetitle h2::after {
        width: 176px;
        margin-top: 5px;
    }
    .fruits-box h2 {
        font-size: 13px;
    }
    .front-title p {
        display: none;
    }
    .front-page-title {
        margin-top: 25px;
    }
    .right-featured-products {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;
    }
    .right-featured-items h2 {
        font-size: 14px;
    }
    .eight-column-wrapper {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 10px;
    }
    .main-sidebar-for-eight-column {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;
    }
    .featured-product-front-page {
        margin-top: 20px;
    }
    .featured-product-front-page .featured-discunt {
        top: 33px;
    }
    .main-trade-services {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;
    }
    .trade-service-box img {
        height: 108px;
    }
    .trade-service-box h2 {
        font-size: 14px;
        padding: 0px 9px;
        margin-bottom: 10px;
    }
    .ClickTop {
        right: 30px;
    }
    
    /* footer section */
    .footer-left {
        margin-bottom: 10px;
    }
    .widget-title {
        margin-bottom: 0rem !important;
        font-size: 1rem !important;
    }
    .widget {
        margin-top: 17px;
    }
    .footer-middle ul.widget-body li a{
        font-size: 13px;
    }

    /* title */
    .StyleOnetitle h2::after{
        width: unset;
    }
    .express-main-box img {
        border-radius: unset;
        width: 100%;
    }
    .express-main-box {
        border-radius: unset;
    }
    .bdbabaexpress-section {
        background: #e8e8e8;
    }

    /* sidebar manu */
    .main-cart-fixed-sidebar {
        max-width: 345px;
    }
    .inCart-image img {
        height: auto;
    }
    .inCart-middle-content h2 {
        font-size: 12px;
    }
    .heroSectionMobile {
        padding: 0px !important;
    }
    .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
    }
    .main-hero-section {
        margin-top: 0px;
    }
    .hero-right-mini-slider img {
        height: 71px;
    }

    /* main under two section */
    .main-under-two-section {
        display: none;
    }
    .ThreeColAds {
        margin: 0px !important;
        padding: 0px !important;
    }
    .ads-single-box {
        overflow: hidden;
        padding: 12px 23px;
        width: 100%;
    }

    /* Profile page */
    .left-profile-box img {
        width: 30% !important;
    }
    .profile-left-side {
        margin-top: 4rem !important;
    }
    .profileTabs .nav-link {
        font-size: 14px;
    }
    .personal-information-title i {
        padding: 8px 9px;
        font-size: 13px;
    }
    .personal-information-title h6 {
        font-size: 12px;
    }
    .personal-information-edit {
        padding: 1px 14px;
        font-size: 14px;
    }
    .single-line-row p {
        font-size: 13px;
    }
    .single-line-row {
        margin-top: 11px !important;
    }
    .all-balance-box {
        display: flex;
        flex-direction: column;
        grid-gap: 5px;
    }

    /* Hero sidebar section */
    .hero-left-sidebar-menu {
        display: none;
    }
    
    .hero-right-slider {
        margin-top: 45px;
        width: 100%;
    }
    


    /* sidebar menu */
    .main-left-fixed-sidebar {
        width: 100%;
    }
    
    /* Login page */
    .login-box {
        width: 100%;
    }
    .login-box input {
        width: 100%;
    }
    .login-icon i {
        width: 70px;
        height: 70px;
        font-size: 33px;
    }
    .main-login-wrapper {
        height: unset;
        margin: 45px 0px;
    }

    /* Registation page */
    .Register-left-wrapper {
        display: none;
    }
    .Register-right-column {
        padding: 25px 10px;
        height: unset;
        background-color: #e43a00;
    }
    /* Single page */
    .product-area{
        padding: 0px;
    }
    .product-content-area h3{
        margin: 0px;
        font-size: 19px;
        margin-bottom: 7px;
        margin-top: 15px;
    }
    .rating-container i{
        font-size: 15px;
    }
    p.short-description {
        font-size: 13px;
    }
    ul.color-block li.black, ul.color-block li.red, ul.color-block li.blue{
        width: 18px;
        height: 18px;
    }

    .mobileTab {
        padding: 0px 20px;
        padding-bottom: 10px !important;
        margin-top: 16px !important;
    }
    .right-mobile-menu i {
        font-size: 20px;
    }
    .bargerMenu i {
        font-size: 23px;
    }
    .btn-group-lg>.btn, .btn-lg{
        padding: 5px 10px !important;
    }
    figure.comment-img {
        max-width: 2rem;
        height: 2rem;
        border-radius: 50%;
        overflow: unset;
        margin-right: 10px;
    }
    .comment-part .comment-rating {
        top: unset;
        font-size: 6px;
    }
    .widget.widget-newsletter {
        display: unset !important;
    }
    .Mhr{
        border-bottom: 2px solid #ff9007;
        padding-bottom: 10px;
    }
    .product-desc {
        margin-top: 0px !important;
    }
    .product-desc-padding {
        padding: 0px 15px;
    }

    /* Header section hide for moble device */
    .header-area{
        display: none;
    }
    .category-sidebar {
        display: none;
    }

    .category-info {
        flex-direction: column;
    }
    .product-item {
        flex-direction: column;
    }
    .icon-wrap.d-flex {
        justify-content: center;
    }
    .logo-area {
        text-align: center;
    }
    .features-box{
       padding-right: 0;
    }
    .feature-item{
        flex-direction: column;
        border: 0;
        margin-bottom: 30px;
    }
    .new-arrival-content{
        flex-direction: column;
    }
    .new-arrival-column .new-list a img {
        width: 100%;
    }
    .new-arrival-column {
        margin-bottom: 20px;
    }
    .new-arrival-inner .heading {
        order: 2;
    }
    .new-arrival-inner .heading {
        order: 2;
        width: 100%;
        margin-top: 31px;
    }
}